<style>
    .bookingStyle {
        float: left;
        margin-left: 1%;
        width: 39%;
        height: 100%;
    }

    .content {
        float: right;
        margin-left: 1%;
        width: 59%;
    }
</style>

<div>
    <h4>Lista prenotazioni</h4>
    <div class="bookingStyle">    
        <ul class="list-group" *ngFor="let element of bookings">
            <li class="list-group-item" style="width:500px;" (click)="selectBooking($event)" id="{{element._id}}"> {{element.username}}: {{element.date}} {{element.rentalPointName}}</li>
        </ul>
    </div>
    <div class="content">        
        <a>
            <div id="bookingInfoModule" style="display: none;">
                <h4>Prenotazione</h4>
                <div id="bookingInfo"></div>
                <button class="btn btn-danger" (click)="removeBooking()">Delete booking</button>
                <br><hr><br>
            </div>
            <form
                (submit)="newBooking($any(date.value), $any(rentalPointName.value), $any(bikeCode.value),$event)">
                    <h4>Crea nuova prenotazione</h4>
                    <b>Data:</b> <input type="date" class="form-control" style="width: 300px;" id="date" name="date" #date (change)="getBikes()">
                    <div>
                        <label for="rentalPointName"><b>Scegliere il punto di ritiro</b></label>
                        <select class="form-select" style="width:300px" name="rentalPointName" id="rentalPointName" #rentalPointName (change)="getBikes()">
                            <option value="{{rental.name}}" *ngFor="let rental of rentalPoints">{{rental.name}}: {{rental.address}}</option>              
                        </select>
                    </div>
                <br><br>
                <div>
                    <label for="bikeCode"><b>Scegliere la bicicletta</b></label>                    
                    <select class="form-select" style="width:300px" name="bikeCode" id="bikeCode" #bikeCode >
                        <option value="{{bike.code}}" *ngFor="let bike of bikes">{{bike.code}} {{bike.model}}: {{bike.type}} </option>              
                    </select>
                    <br>
                    <div class="alert alert-danger" style="width:300px; display: none;" id="bikeNumberError" role="alert"></div> 
                </div>
                
                <button class="btn btn-success" type="submit">Crea prenotazione</button>
            </form>
            <br><div class="alert alert-danger" style="width:300px; display: none;" id="errorMessage" role="alert"></div>           
              
        </a>
        
    </div>
</div>