<style>
    .sidebar {
        float: left;
        margin-left: 1%;
        width: 19%;
        height: 100%;
    }

    .map {
        float: left;
        margin-left: 1%;
        width: 49%;
    }

    .content {
        float: right;
        margin-left: 1%;
        width: 29%;
    }
</style>

<div>
    <div class="sidebar">
        <h4>Filtra elementi</h4>
        <label for="typeFilter"><b>Scegliere tipo</b></label>
        <select class="form-select" style="width:300px" name="typeFilter" id="typeFilter" #typeFilter (change)="filterTypeBased($event)">
            <option value="">Entrambi</option>
            <option value="Negozio">Negozio</option>
            <option value="Automatico">Automatico</option>
        </select>
        <br>
        <label for="dataFilter"><b>Scegliere data</b></label>
        <input type="date" class="form-control" id="date" name="date" #date (change)="filterDataBased($event)">
        <br>
        <label for="zoneFilter"><b>Rimuovi filtro per zona</b></label>
        <button type="submit" class="btn btn-danger" id="zone" name="zone" #zone (click)="deleteFilterZoneBased()">Rimuovi</button>
        <div class="alert alert-danger" style="width:300px; display: none;" id="dateError" role="alert"></div> 
        <hr>
        <h4>Lista punti noleggio</h4>
        <ul class="list-group" *ngFor="let element of rentalPoints">
            <li class="list-group-item" style="width:300px" *ngIf="element.bikeNumber != 0"  (click)="selectRentalPoint($event)" id="{{element.id}}"> {{element.name}}: {{element.address}}</li>
            
        </ul>
    </div>
    <div class="map">
        <agm-map [latitude]="latC" [longitude]="lngC" id="mappa" (centerChange)="filterZoneBased($event)">
            <agm-marker [latitude]="element.lat" [longitude]="element.lng" *ngFor="let element of rentalPoints"
                (markerClick)="showMarkerInfo($event)"></agm-marker>
        </agm-map>
        <div id="rentalShopSelected"></div>
        <button *ngIf="addItemOptions() == true && selectedRentalId != ''" class="btn btn-danger" (click)="removeRentalPoint()">Remove rental point</button>
        <button *ngIf="addItemOptions() == true && selectedRentalId != ''" class="btn btn-info" (click)="allowRentalPointChange()">Change rental point info</button>  
    </div>
    <div class="content">
        <a *ngIf="addItemOptions() == true" id="addRentalForm" style="display: block;">
            <form
                (submit)="newRentalPoint($any(name.value), $any(address.value), $any(lat.value), $any(lng.value), $any(typeRentalPoint.value), $event)">
                <h4>Aggiungi Punto di noleggio</h4>
                <b>Inserire nome:</b> <input type="text" class="form-control" style="width:300px;" id="name" #name required><br>
                <b>Inserire indirizzo:</b> <input type="text" class="form-control" style="width: 300px;" id="address" #address required><br>
                <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lat" #lat required><br>
                <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lng" #lng required><br>
                <div>
                    <label for="typeRentalPoint"><b>Inserire tipo</b></label>
                    <select class="form-select" style="width:300px" name="typeRentalPoint" id="typeRentalPoint" #typeRentalPoint>
                        <option value="Negozio">Negozio</option>
                        <option value="Automatico">Automatico</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Crea Nuovo Rental Point</button>
                <div class="alert alert-danger" style="width:300px; display: none;" id="creationRentalPointError" role="alert"></div>       
            </form>
        </a>
         <br><br>
        <form id="changeRentalPointForm" style="display: none;"
            (submit)="changeRentalPoint($any(nameChange.value), $any(addressChange.value), $any(latChange.value), $any(lngChange.value), $any(typeRentalPointChange.value), $event)">
            <h4>Modifica Punto di noleggio</h4>
            <b>Inserire nome:</b> <input type="text" class="form-control-plaintext" id="nameChange" #nameChange disabled><br>
            <b>Inserire indirizzo:</b> <input type="text" class="form-control" style="width: 300px;" id="addressChange" #addressChange required><br>
            <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="latChange" #latChange required><br>
            <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lngChange" #lngChange required><br>
            <div>
                <label for="typeRentalPointChange"><b>Inserire tipo</b></label>
                <select class="form-select" style="width:300px" name="typeRentalPointChange" id="typeRentalPointChange" #typeRentalPointChange>
                    <option value="Negozio">Negozio</option>
                    <option value="Automatico">Automatico</option>
                </select>
            </div>
            <button class="btn btn-success" type="submit">Modifica Rental Point</button>
            <button class="btn btn-danger" type="button" (click)="annullaModifica()">Annulla Modifica</button>
            <div class="alert alert-danger" style="width:300px; display: none;" id="changeRentalPointError" role="alert"></div> 
        </form>
    </div>
</div>