<style>
    .sidebar {
        float: left;
        margin-left: 1%;
        width: 19%;
        height: 100%;
    }

    .map {
        float: left;
        margin-left: 1%;
        width: 49%;
    }

    .content {
        float: right;
        margin-left: 1%;
        width: 29%;
    }
</style>

<div>
    <div class="sidebar">
        <h4>Filtra elementi</h4>
        <label for="typeFilter"><b>Scegliere Difficoltà</b></label>
        <select class="form-select" style="width:300px" name="difficultyFilter" id="difficultyFilter" #difficultyFilter (change)="filterDifficultyBased($event)">
            <option value="">Qualsiasi</option>
            <option value="Principiante">Principiante</option>
            <option value="Intermedio">Intermedio</option>
            <option value="Intermedio">Esperto</option>
        </select>
        <br>
        <label for="dataFilter"><b>Scegliere lunghezza</b></label>
        <br>
        <label for="zoneFilter"><b>Rimuovi filtro per zona</b></label>
        <button type="submit" class="btn btn-danger" id="zone" name="zone" #zone (click)="deleteFilterZoneBased()">Rimuovi</button>
        <div class="alert alert-danger" style="width:300px; display: none;" id="dateError" role="alert"></div> 
        <hr>
        <h4>Lista itinerari</h4>
        <ul class="list-group" *ngFor="let element of itineraries">
            <li class="list-group-item" style="width:300px"  (click)="selectItinerary($event)" id="{{element.id}}"> {{element.name}}: {{element.addressStarting}}</li>
        </ul>
    </div>
    <div class="map">
        <agm-map [latitude]="latC" [longitude]="lngC" id="mappa" (centerChange)="filterZoneBased($event)">
            <agm-marker [latitude]="element.latS" [longitude]="element.lngS" *ngFor="let element of itineraries"
                (markerClick)="showMarkerInfo($event)"></agm-marker>
        </agm-map>
        <div id="itinerarySelected"></div>
        <button *ngIf="addItemOptions() == true && selectedItineraryId != ''" class="btn btn-danger" (click)="removeItinerary()">Remove itinerary</button>
        <button *ngIf="addItemOptions() == true && selectedItineraryId != ''" class="btn btn-info" (click)="allowItineraryChange()">Change itinerary info</button>  
    </div>
    <div class="content">
        <a *ngIf="addItemOptions() == true" id="addItineraryForm" style="display: block;">
            <form
                (submit)="newItinerary($any(name.value), $any(addressStarting.value), $any(latS.value), $any(lngS.value), $any(description.value), $any(length.value) ,$any(difficulty.value), $event)">
                <h4>Aggiungi Itinerario</h4>
                <b>Inserire nome:</b> <input type="text" class="form-control" style="width:300px;" id="name" #name required><br>
                <b>Inserire indirizzo punto di partenza:</b> <input type="text" class="form-control" style="width: 300px;" id="addressStarting" #addressStarting required><br>
                <b>Inserire descrizione percorso:</b> <input type="text" class="form-control" style="width: 300px;" id="description" #description required><br>
                <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="latS" #latS required><br>
                <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lngS" #lngS required><br>
                <b>Inserire lunghezza:</b> <input type="text" class="form-control" style="width: 300px;" id="length" #length required><br>
                <div>
                    <label for="difficulty"><b>Inserire difficoltà</b></label>
                    <select class="form-select" style="width:300px" name="difficulty" id="difficulty" #difficulty>
                        <option value="Principiante">Principiante</option>
                        <option value="Intermedio">Intermedio</option>
                        <option value="Intermedio">Esperto</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Crea Nuovo Itinerario</button>
                <div class="alert alert-danger" style="width:300px; display: none;" id="creationItineraryError" role="alert"></div>       
            </form>
        </a>
         <br><br>
        <form id="changeItineraryForm" style="display: none;"
            (submit)="changeItinerary($any(addressStartingChange.value), $any(latSChange.value), $any(lngSChange.value), $any(descriptionChange.value), $any(lengthChange.value) ,$any(difficultyChange.value), $event)">
            <h4>Modifica Itinerario</h4>
                <b>Inserire nome:</b> <input type="text" class="form-control" style="width:300px;" id="nameChange" #nameChange disabled><br>
                <b>Inserire indirizzo punto di partenza:</b> <input type="text" class="form-control" style="width: 300px;" id="addressStartingChange" #addressStartingChange required><br>
                <b>Inserire descrizione percorso:</b> <input type="text" class="form-control" style="width: 300px;" id="descriptionChange" #descriptionChange required><br>
                <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="latSChange" #latSChange required><br>
                <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lngSChange" #lngSChange required><br>
                <b>Inserire lunghezza:</b> <input type="text" class="form-control" style="width: 300px;" id="lengthChange" #lengthChange required><br>
                <div>
                    <label for="difficultyChange"><b>Inserire difficoltà</b></label>
                    <select class="form-select" style="width:300px" name="difficultyChange" id="difficultyChange" #difficultyChange>
                        <option value="Principiante">Principiante</option>
                        <option value="Intermedio">Intermedio</option>
                        <option value="Intermedio">Esperto</option>
                    </select>
                </div>
                <button class="btn btn-success" type="submit">Modifica Itinerario</button>
                <div class="alert alert-danger" style="width:300px; display: none;" id="changeItineraryError" role="alert"></div>  
        </form>
    </div>
</div>