<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 150,
      values: [ 10, 150 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
</script>

<div class="container-flex mx-4">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-3">
            <h4>Filtra elementi</h4>
            <label for="typeFilter"><b>Scegliere Difficoltà</b></label>
            <select class="form-select" style="width:300px" name="difficultyFilter" id="difficultyFilter" #difficultyFilter (change)="filterDifficultyBased($event)">
                <option value="">Qualsiasi</option>
                <option value="Principiante">Principiante</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Intermedio">Esperto</option>
            </select>
            <br>
            <label for="dataFilter"><b>Scegliere lunghezza</b></label>
            <div class="custom-slider">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="filterLengthBased(this)"></ngx-slider>
              </div>
            <br>
            <label for="zoneFilter"><b>Rimuovi filtro per zona</b></label>
            <button type="submit" class="btn btn-danger" id="zone" name="zone" #zone (click)="deleteFilterZoneBased()">Rimuovi</button>
            <div class="alert alert-danger" style="width:300px; display: none;" id="dateError" role="alert"></div> 
            <hr>
            <h4>Lista itinerari</h4>
            <ul class="list-group" *ngFor="let element of itineraries">
                <li class="list-group-item" style="width:300px"  (click)="selectItinerary($event)" id="{{element.id}}"> {{element.name}}: {{element.addressStarting}}</li>
            </ul>
        </div>
    
        <!-- Content -->
        <div class="col-9">
            <div class="row">

                <!-- Itinerary detail -->
                <div class="col-8">

                    <!-- Map -->
                    <agm-map [latitude]="latC" [longitude]="lngC" id="mappa" (centerChange)="filterZoneBased($event)">
                        <agm-marker [latitude]="element.latS" [longitude]="element.lngS" *ngFor="let element of itineraries"
                            (markerClick)="showMarkerInfo($event)"></agm-marker>
                    </agm-map>

                    <!-- Itinerary info -->
                    <div class="my-2" *ngIf="selectedItinerary != undefined">                                                
                        <h5 class="">
                            {{ selectedItinerary?.name }}
                        </h5>
                        
                        <p class="">
                            <b>Indirizzo partenza:</b> {{ selectedItinerary.addressStarting }} <br>
                            <b>Descrizione:</b> {{ selectedItinerary.description }} <br>
                            <b>Difficoltà:</b> {{ selectedItinerary?.difficulty }} <br>
                            <b>Lunghezza:</b> {{ selectedItinerary.length }} <br>
                        </p>
                        
                        <div class="btn-toolbar">
                            <button *ngIf="addItemOptions() == true && selectedItineraryId != ''" class="card-link btn btn-danger" (click)="removeItinerary()">Remove itinerary</button>
                            <button *ngIf="addItemOptions() == true && selectedItineraryId != ''" class="card-link btn btn-info" (click)="allowItineraryChange()">Change itinerary info</button>                              
                            <button *ngIf="isUserLogged()" class="card-link btn btn-info" (click)="addReviewCollapsed = !addReviewCollapsed">Aggiungi Recensione</button>  
                        </div>                                                    
                    </div>

                    <div class="my-2" #collapse="ngbCollapse" [(ngbCollapse)]="addReviewCollapsed">
                        <div class="card card-body">
                            <form (submit)="newReview(title.value, text.value, $event)">    
                                <div class="row">
                                    <label for="reviewTitle" class="form-label col-sm-2 col-form-label">Title</label>
                                    <div class="col-sm-10">
                                        <input required class="form-control" id="reviewTitle" #title placeholder="Title">
                                    </div>
                                </div>
                                <div>
                                    <span class="text-muted">{{ inputReviewStars }}</span> 
                                    <ngb-rating [max]="5" [(rate)]="inputReviewStars"></ngb-rating>
                                </div>
                                <div class="mb-3">
                                    <label for="reviewText" class="form-label">Text</label>
                                    <textarea required class="form-control" id="reviewText" #text rows="3"></textarea>
                                </div>
                                <div *ngIf="newReviewError" class="alert alert-danger"  id="newReviewError" role="alert">{{ newReviewError }}</div>       
                                <button type="submit" class="btn btn-success">Conferma</button>
                            </form>
                        </div>
                    </div>
                    
                    <!-- Reviews -->
                    <div *ngFor="let review of selectedItinerary?.reviews">
                        <review-block [reviewModel]="review" ></review-block>
                    </div>
                </div>

                <!-- Change Itinerary -->
                <div class="col-4">
                    <a *ngIf="addItemOptions() == true" id="addItineraryForm" style="display: block;">
                        <form
                            (submit)="newItinerary($any(name.value), $any(addressStarting.value), $any(latS.value), $any(lngS.value), $any(description.value), $any(length.value) ,$any(difficulty.value), $event)">
                            <h4>Aggiungi Itinerario</h4>
                            <b>Inserire nome:</b> <input type="text" class="form-control" style="width:300px;" id="name" #name required><br>
                            <b>Inserire indirizzo punto di partenza:</b> <input type="text" class="form-control" style="width: 300px;" id="addressStarting" #addressStarting required><br>
                            <b>Inserire descrizione percorso:</b> <input type="text" class="form-control" style="width: 300px;" id="description" #description required><br>
                            <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="latS" #latS required><br>
                            <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lngS" #lngS required><br>
                            <b>Inserire lunghezza:</b> <input type="text" class="form-control" style="width: 300px;" id="length" #length required><br>
                            <div>
                                <label for="difficulty"><b>Inserire difficoltà</b></label>
                                <select class="form-select" style="width:300px" name="difficulty" id="difficulty" #difficulty>
                                    <option value="Principiante">Principiante</option>
                                    <option value="Intermedio">Intermedio</option>
                                    <option value="Intermedio">Esperto</option>
                                </select>
                            </div>
                            <button class="btn btn-success" type="submit">Crea Nuovo Itinerario</button>
                            <div class="alert alert-danger" style="width:300px; display: none;" id="creationItineraryError" role="alert"></div>       
                        </form>
                    </a>
                     <br><br>
                    <form id="changeItineraryForm" style="display: none;"
                        (submit)="changeItinerary($any(addressStartingChange.value), $any(latSChange.value), $any(lngSChange.value), $any(descriptionChange.value), $any(lengthChange.value) ,$any(difficultyChange.value), $event)">
                        <h4>Modifica Itinerario</h4>
                            <b>Inserire nome:</b> <input type="text" class="form-control" style="width:300px;" id="nameChange" #nameChange disabled><br>
                            <b>Inserire indirizzo punto di partenza:</b> <input type="text" class="form-control" style="width: 300px;" id="addressStartingChange" #addressStartingChange required><br>
                            <b>Inserire descrizione percorso:</b> <input type="text" class="form-control" style="width: 300px;" id="descriptionChange" #descriptionChange required><br>
                            <b>Inserire latitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="latSChange" #latSChange required><br>
                            <b>Inserire longitudine:</b> <input type="text" class="form-control" style="width: 300px;" id="lngSChange" #lngSChange required><br>
                            <b>Inserire lunghezza:</b> <input type="text" class="form-control" style="width: 300px;" id="lengthChange" #lengthChange required><br>
                            <div>
                                <label for="difficultyChange"><b>Inserire difficoltà</b></label>
                                <select class="form-select" style="width:300px" name="difficultyChange" id="difficultyChange" #difficultyChange>
                                    <option value="Principiante">Principiante</option>
                                    <option value="Intermedio">Intermedio</option>
                                    <option value="Intermedio">Esperto</option>
                                </select>
                            </div>
                            <button class="btn btn-success" type="submit">Modifica Itinerario</button>
                            <div class="alert alert-danger" style="width:300px; display: none;" id="changeItineraryError" role="alert"></div>  
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>